body {
  background-color: #e5e5e5;
  font-family: "Montserrat", sans-serif;
  display: flex;
  width: 1200px;
  margin: 40px auto;
}
/*Right section styles*/
.main-section {
  padding-left: 90px;
  padding-right: 220px;
  background-color: white;
}
.personName {
  margin-top: 100px;
}
.about-me-profession {
  color: black;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
  margin-bottom: 50px;
}
#personName {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin-top: 36px;
}
.about-me-section {
  width: 700px;
}
.about-me-section p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: white;
}
.projects-section {
  margin-top: 40px;
}
.block-title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: black;
}
.projects-section ol {
  padding-left: 18px;
}
ol li,
.bracket {
  font-weight: 700;
  color: #000000;
}

.projects-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #595959;
  margin-left: 10px;
}
.projects-item a {
  color: #595959;
}

.work-experience-section {
  margin-top: 50px;
}

.work-experience-position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.work-experience-company {
  color: #fb6d3a;
}
.work-experience-period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}
.line-break {
  color: black;
  padding-left: 5px;
  padding-right: 5px;
}
.work-experience-duties {
  padding-left: 18px;
}
.work-experience-duties li,
.education-section .education-description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.education-section {
  margin-bottom: 16px;
  margin-top: 12px;
}
.education-section div {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin-top: 12px;
}
.education-section h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

/* Sidebar styles */
.sidebar-section {
  background-color: #1e2939;
  width: 400px;
}
.sidebar-section img {
  width: 400px;
  height: 400px;
}
.sidebar-title {
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}
.contacts-tech_skills-soft_skills-section {
  margin-left: 40px;
  color: white;
}

.about-me-section p {
  width: 300px;
}
.contact-section-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin-right: 10px;
}
.contact-section-value {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #8e949c;
}
.sidebar-list {
  color: #fb6d3a;
  padding-left: 20px;
}
.sidebar-list span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: white;
}
